<div class="contact">
  <h3>Contact us!</h3>
  <form
    name="simple-form"
    class="simple-form"
    method="POST"
    data-netlify="true"
  >
    <div class="field">
      <input type="text" name="name" class="input" placeholder="name" />
    </div>
    <div class="field">
      <input type="email" name="email" class="input" placeholder="email" />
    </div>
    <div class="field">
      <textarea name="message" class="textarea" placeholder="message">
      </textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
