/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background: url(https://bit.ly/2QLtEKB) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Mukta", sans-serif;
  font-weight: 200;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
}
