/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: "Mukta", sans-serif;
  font-weight: 200;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
}
