<div class="app-home">
  <h1 class="motto">The Fastest Angular on the Web</h1>
  <div class="home-words">
    <p>
      Fast and secure sites and apps delivered by pre-rendering files and
      serving them directly from a CDN, removing the requirement to manage or
      run web servers.
    </p>
  </div>
  <div class="home-box">
    <div class="home-card">
      <div class="title"><h1>Fast</h1></div>
    </div>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585107167/cara-fuller-34OTzkN-nuc-unsplash_1_anhvwp.jpg"
      alt="running cheetah"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
  <div class="home-card">
    <div class="title"><h1>Scaleable</h1></div>
    <img
      src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585259527/sutirta-budiman-Jgiv1rSIpVM-unsplash_1_wfdngg.jpg"
      alt="zebras in yellow grass"
    />
    <div>
      <p class="home-card-content">
        <b>High scale without high complexity.</b>
        Optimize your site with prerendering and global delivery.
      </p>
    </div>
    <div class="home-card">
      <div class="title"><h1>Secure</h1></div>
      <img
        src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585258948/keith-markilie-jBjQA3LU9Dc-unsplash_1_qkkijr.jpg"
        alt="random rhino"
      />
      <div>
        <p class="home-card-content">
          <b>More secure infrastructure.</b>
          By design, JAMstack architectures offer fewer points of attack.
        </p>
      </div>
      <div class="home-card">
        <div class="title"><h1>Productive</h1></div>
        <img
          src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585259747/harshil-gudka-pU-9BYqjhyo-unsplash_1_bslipb.jpg"
          alt="two giraffes"
        />
        <div>
          <p class="home-card-content">
            <b>Improved developer experience.</b>
            Launch faster with more productive dev & deployment cycles
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
