<div class="app-home">
  <h1 class="motto">The Fastest Angular on the Web</h1>
  <div class="home-words">
    <p>
      Fast and secure sites and apps delivered by pre-rendering files and
      serving them directly from a CDN, removing the requirement to manage or
      run web servers.
    </p>
  </div>
  <div class="home-box">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title class="title">Faster</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585107167/cara-fuller-34OTzkN-nuc-unsplash_1_anhvwp.jpg"
        alt="running cheetah"
      />
      <mat-card-content>
        <p>
          Faster websites by optimizing your site with prerendering and
          utilizing global delivery.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>Faster</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585107167/cara-fuller-34OTzkN-nuc-unsplash_1_anhvwp.jpg"
        alt="running cheetah"
      />
      <mat-card-content>
        <p>
          Faster websites by optimizing your site with prerendering and
          utilizing global delivery.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>Faster</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585107167/cara-fuller-34OTzkN-nuc-unsplash_1_anhvwp.jpg"
        alt="running cheetah"
      />
      <mat-card-content>
        <p>
          Faster websites by optimizing your site with prerendering and
          utilizing global delivery.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
